<%# REQUIRE: @blances %>

<% content_for(:title, t(".title")) %>

<div class="blances__list">
  <pre>
  <code>
<% @blances.each do |blance| %>
<%= render "blance", blance: blance %>
<% end %>
  </code>
  </pre>
</div>
