<% if object.errors.any? %>
  <div id="error_explanation" data-controller="shared" data-target="shared.field">
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
    <i class="fa-solid fa-xmark" data-action="click->shared#delete"></i>
  </div>
<% end %>
