/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 * require_self
 */
@import "font-awesome";

/*
 * global
 */
body {
	margin: 0;
	padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"] {
	appearance: none;
	height: 2em;
}

input[type="date"]::-webkit-date-and-time-value,
input[type="time"]::-webkit-date-and-time-value {
	text-align: left;
}

/*
 * layouts
 */
.layouts__header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #eee;
	padding: 0 0.5rem;
	border-bottom: 1px solid lightgray;
}

.layouts__header .logo img {
	height: 64px;
}

.layouts__header .links {
	position: relative;
	font-size: 0.9em;
}

.layouts__header .links button {
	font-size: 0.9em;
	cursor: pointer;
	color: black;
	background-color: inherit;
	padding: 0;
	border: none;
}

.layouts__header .links .dropdown {
	display: none;
	position: absolute;
	background-color: white;
	margin-top: 1em;
	border: 1px solid lightgray;
	min-width: 100px;
	right: 0;
	z-index: 1;
}

.layouts__header .links:hover .dropdown {
	display: block;
}

.layouts__header .links .dropdown::before,
.layouts__header .links .dropdown::after {
	content: "";
	position: absolute;
	right: 0;
	left: 0;
	width: 0;
	height: 0;
	margin: auto;
}

.layouts__header .links .dropdown::before {
	top: -17px;
	left: 50px;
	border-style: solid;
	border-color: transparent transparent lightgray transparent;
	border-width: 0px 11px 17px 11px;
}

.layouts__header .links .dropdown::after {
	top: -25px;
	left: 50px;
	border-style: solid;
	border-color: transparent transparent #fff transparent;
	border-width: 10px 10px 15px 10px;
	z-index: 1;
}

.layouts__header .links .dropdown a {
	display: block;
	color: black;
	text-decoration: none;
	text-align: left;
	padding: 0.5em;
}

.layouts__header .links .dropdown a:hover {
	color: dodgerblue;
}

.layouts__main {
	min-height: 80vh;
	padding: 1rem;
}

.layouts__footer {
	background-color: #eee;
	padding: 0 0.5rem;
	border-top: 1px solid lightgray;
}

.layouts__footer .technologys {
	font-size: 0.9em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 1em 2em;
	margin-top: 2em;
}

.layouts__footer .technologys a {
	color: dodgerblue;
	text-decoration: none;
}

.layouts__footer .technologys a:hover {
	text-decoration: underline;
}

.layouts__footer .copyright {
	font-size: 0.8em;
	text-align: center;
	margin-top: 1rem;
}

/*
 * shared
 */
#flash_notice {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
	padding: 1rem;
	border-left: 4px solid dodgerblue;
	background-color: lightblue;
	color: dodgerblue;
	text-align: center;
}

#flash_notice .batu-btn::before,
#flash_notice .batu-btn::after {
	background-color: dodgerblue;
}

#error_explanation {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	font-size: 0.9rem;
	letter-spacing: 1px;
	word-spacing: 2px;
	background: pink;
	color: crimson;
	padding: 1rem;
	border: 1px solid crimson;
	border-radius: 0.5em;
}

#error_explanation ul {
	margin: 0;
	padding-left: 1em;
	list-style: circle;
	line-height: 2;
}

#error_explanation .batu-btn::before,
#error_explanation .batu-btn::after {
	background-color: crimson;
}

.batu-btn {
	cursor: pointer;
	position: relative;
	width: 24px;
	height: 24px;
	margin: 0;
	padding: 0;
	border: none;
	background-color: inherit;
}

.batu-btn::before,
.batu-btn::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 3px;
	height: 18px;
	background-color: dodgerblue;
}

.batu-btn::before {
	transform: translate(-50%, -50%) rotate(45deg);
}

.batu-btn::after {
	transform: translate(-50%, -50%) rotate(-45deg);
}
