/*
 * index
 */
.blances__list {
	font-size: 0.8rem;
	overflow-x: auto;
}

.blances__list table {
	width: max-content;
	border-collapse: collapse;
}

.blances__list th,
.blances__list td {
	min-width: 80px;
	max-width: 200px;
	padding: 0.5em;
	border: 1px solid #ddd;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.blances__list td:last-child {
	padding: 0;
}

.blances__list td:last-child ul {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	line-height: 2;
}

.blances__list td:last-child ul a {
	color: dodgerblue;
	text-decoration: none;
	padding: 0.25em 0.5em;
}

.blances__list td:last-child ul a:hover {
	text-decoration: underline;
}

.blances__list td:last-child ul a:nth-child(even) {
	background-color: #eee;
	border-top: 1px solid #ddd;
}

/*
 * show
 */

/* .blances__show {} */

.blances__show table {
	font-size: 0.9rem;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	border: 1px solid #ddd;
	border-collapse: collapse;
}

.blances__show th,
.blances__show td {
	min-width: 80px;
	max-width: 200px;
	padding: 0.5em;
    vertical-align: top;
}

.blances__show th {
	color: gray;
}

.blances__show td:last-child {
    word-wrap: break-word;
	white-space: pre-wrap;
}

.blances__show .headline {
	color: black;
	background-color: #eee;
	text-align: left;
}

.blances__show caption {
	font-size: 0.8rem;
	color: gray;
	caption-side: bottom;
	text-align: right;
}

.blances__show caption div {
	display: inline-block;
	padding: 0.5em;
}
