@import "variables";

//
// index
//
.blances__list {
  font-size: 0.8rem;
  overflow-x: auto;
  padding: 1rem;

  table {
    width: max-content;
    border-collapse: collapse;

    th,
    td {
      min-width: 80px;
      max-width: 200px;
      padding: 0.5em;
      border: 1px solid $border-color;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    td:last-child {
      padding: 0;

      ul {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        line-height: 2;

        a {
          color: $link-color;
          text-decoration: none;
          padding: 0.25em 0.5em;

          &:hover {
            text-decoration: underline;
          }
          &:nth-child(even) {
            background-color: $list-even-background-color;
            border-top: 1px solid $border-color; }
        }
      }
    }
  }
}

//
// show
//
.blances__show {
  font-size: 0.9rem;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;

  table {
    width: 100%;
    border: 1px solid $border-color;
    border-collapse: collapse;

    th,
    td {
      padding: 0.5em;
      vertical-align: top;
    }

    th {
      color: $text-gray-color;
      &.headline {
        color: black;
        background-color: $blances-show-headline-background-color;
        text-align: left;
      }
    }

    td:last-child {
      word-wrap: break-word;
      white-space: pre-wrap;
    }
  }

  .datetimes {
    font-size: 0.8rem;
    color: $text-gray-color;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: 1em;
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }

  .links {
    font-size: 0.9rem;
    display: inline-block;
    border: 1px solid $border-color;
    border-radius: 0.5em;

    ul {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;

      a {
        display: block;
        padding: 0.5em 1em;
        text-decoration: none;
        color: $base-color;
        transition: all 0.2s ease-out;

        &:first-child {
          border-top-left-radius: 0.5em;
          border-top-right-radius: 0.5em;
        }

        &:last-child {
          border-bottom-left-radius: 0.5em;
          border-bottom-right-radius: 0.5em;
        }

        &.edit:hover {
          color: white;
          background-color: $blances-show-edit-background-color;
        }

        &.delete:hover {
          color: white;
          background-color: $blances-show-delete-background-color;
        }

        &.back:hover {
          color: white;
          background-color: $blances-show-back-background-color;
        }
      }
    }
  }
}

//
// form
//
.blances__form {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;

  form {
    padding: 1em;
    border: 1px solid $border-color;
    border-radius: 0.5em;

    .form_group {
      display: flex;
      flex-direction: column;
      gap: 0.2em;
      margin-bottom: 1em;

      label {
        font-size: 0.8rem;
      }

      input,
      select,
      textarea {
        font-size: 1rem;
        box-sizing: border-box;
        width: 100%;
        padding: 0.5em;
        border: 1px solid $blances-form-border-color;
        border-radius: 0.2em;
        letter-spacing: 1px;
        word-spacing: 2px;
        background-color: $base-background-color;
        color: $base-color;
      }

      textarea {
        width: 100%;
        height: 12em;
      }

      .field_with_errors {
        input,
        select,
        textarea {
          border: 1px solid $blances-form-error-border-color;
        }
      }
    }

    input[type="submit"] {
      cursor: pointer;
      font-size: 0.8rem;
      font-weight: bold;
      padding: 0.5em 1em;
      border: 1px solid black;
      border-radius: 0.5em;
      background-color: $blances-form-submit-background-color;
      color: white;
    }

    @media screen and (min-width: 600px) {
      .form_group input,
      input[type="submit"],
      .form_group select,
      .form_group textarea {
        font-size: 0.8rem;
      }
    }
  }
}
