@import "variables";

//
// index
//
.blances__index {
  padding: 1rem;
  .list {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  .new_blance {
    margin-top: 1em;
  }
}

//
// show
//
.blances__show {
  font-size: 0.9rem;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  table {
    width: 100%;
    border: 1px solid $color-border-primary;
    border-collapse: collapse;
    th,
    td {
      padding: 0.5em;
      vertical-align: top;
    }
    th {
      color: $color-text-secondary;
      width: 30%;
      text-align: left;
      padding-left: 1.5em;
      &.headline {
        color: $color-text-primary;
        background-color: $color-background-blue;
        padding-left: 1em;
      }
    }
    td {
      color: $color-text-primary;
      width: 70%;
      text-align: left;
      background-color: $color-background-primary;
      &.plus {
        color: $color-text-success;
      }
      &.minus {
        color: $color-text-alert;
      }
      &.images {
        img {
          max-width: 256px;
        }
      }
      &:last-child {
        word-wrap: break-word;
        white-space: pre-wrap;
      }
    }
  }
  .datetimes {
    font-size: 0.8rem;
    color: $color-text-secondary;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: 1em;
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }
  .links {
    font-size: 0.8rem;
    margin-top: 1rem;
    padding: 1em 0;
    border-top: 1px solid $color-border-primary;
    ul {
      display: flex;
      flex-direction: column;
      gap: 1em;
      margin: 0;
      padding: 0;
      a {
        width: fit-content;
        text-decoration: none;
        color: $color-text-primary;
        transition: all 0.2s ease-out;
        &:hover {
          color: $color-text-link;
          text-decoration: underline;
        }
      }
    }
  }
}

//
// blance
//
.blances__blance {
  font-size: 0.8em;
  display: grid;
  grid-template-areas:
    "date date"
    "result investment"
    "result recovery"
    "store name"
    "links links";
  grid-template-columns: 200px 1fr;
  border: 1px solid $color-border-primary;
  > * {
    color: $color-text-secondary;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0.5em 0.25em;
    span {
      color: $color-text-primary;
      padding-left: 0.5em;
    }
  }
  .date {
    grid-area: date;
    font-weight: bold;
    padding-left: 1em;
    color: $color-text-primary;
    background-color: $color-background-secondary;
  }
  .result {
    grid-area: result;
    font-size: 1.6em;
    line-height: 2;
    background-color: $color-background-blue;
    padding-left: 0.5em;
    &.zero {
      color: $color-text-primary;
    }
    &.plus {
      color: $color-text-success;
    }
    &.minus {
      color: $color-text-alert;
    }
  }
  .investment {
    grid-area: investment;
    border-bottom: 1px solid $color-border-primary;
  }
  .recovery {
    grid-area: recovery;
  }
  .name {
    grid-area: name;
    font-size: 0.9em;
  }
  .store {
    grid-area: store;
    font-size: 0.9em;
  }
  .links {
    grid-area: links;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid $color-border-primary;
    a {
      color: $color-text-link;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

//
// form
//
.blances__form {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;

  form {
    padding: 1em;
    border: 1px solid $color-border-primary;
    border-radius: 0.5em;

    .form_group {
      display: flex;
      flex-direction: column;
      gap: 0.2em;
      margin-bottom: 1em;

      label {
        font-size: 0.8rem;
      }

      input,
      select,
      textarea {
        font-size: 1rem;
        box-sizing: border-box;
        width: 100%;
        padding: 0.5em;
        border: 1px solid $color-border-primary;
        border-radius: 0.2em;
        letter-spacing: 1px;
        word-spacing: 2px;
        background-color: $color-background-input;
        color: $color-text-primary;
      }

      textarea {
        width: 100%;
        height: 12em;
      }

      .field_with_errors {
        input,
        select,
        textarea {
          border: 1px solid $color-border-alert;
        }
      }
    }
    .images {
      img {
        max-width: 256px;
      }
    }

    input[type="submit"] {
      cursor: pointer;
      font-size: 0.8rem;
      font-weight: bold;
      padding: 0.5em 1em;
      border: 1px solid black;
      border-radius: 0.5em;
      background-color: $color-button-success;
      color: white;
    }

    @media screen and (min-width: 600px) {
      .form_group input,
      input[type="submit"],
      .form_group select,
      .form_group textarea {
        font-size: 0.8rem;
      }
    }
  }
}
