@import "variables";

//
// index
//
.histories__index {
  font-size: 0.8rem;
  overflow-x: auto;
  padding: 1rem;
  table {
    width: max-content;
    border-collapse: collapse;
    th,
    td {
      min-width: 80px;
      max-width: 200px;
      padding: 0.5em;
      border: 1px solid $border-color;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    td:last-child {
      padding: 0;
      ul {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        line-height: 2;
        a {
          color: $link-color;
          text-decoration: none;
          padding: 0.25em 0.5em;
          &:hover {
            text-decoration: underline;
          }
          &:nth-child(even) {
            background-color: $list-even-background-color;
            border-top: 1px solid $border-color;
          }
        }
      }
    }
  }
  .no_history {
    margin: 0 auto;
    text-align: center;
    p {
      display: inline-block;
      padding: 1em;
      border: 1px solid $border-color;
    }
  }
  .new_history {
    margin-top: 1rem;
    a {
      display: inline-block;
      color: white;
      background-color: $blances-form-submit-background-color;
      text-decoration: none;
      padding: 1em;
      border: 1px solid black;
      border-radius: 0.5em;
    }
  }
}

.histories__form {
  width: 100%;
  max-width: 400px;
  padding: 1rem;
  form {
    padding: 1em;
    border: 1px solid $border-color;
    border-radius: 0.5em;
    .form_group {
      display: flex;
      flex-direction: column;
      gap: 0.2em;
      margin-bottom: 0.5em;
      label {
        font-size: 0.8rem;
      }
      input,
      textarea {
        font-size: 1rem;
        box-sizing: border-box;
        width: 100%;
        padding: 0.25em;
        border: 1px solid $border-color;
        border-radius: 0.2em;
        letter-spacing: 1px;
        word-spacing: 2px;
        background-color: $base-background-color;
        color: $base-color;
      }
    }
    textarea {
      height: 10em;
    }
    input[type="submit"] {
      cursor: pointer;
      font-size: 0.8rem;
      font-weight: bold;
      padding: 0.5em 1em;
      border: 1px solid black;
      border-radius: 0.5em;
      background-color: $blances-form-submit-background-color;
      color: white;
    }
  }
}
