.layouts__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  padding: 0 0.5rem;
  border-bottom: 1px solid lightgray;
}

.layouts__header .logo img {
  height: 64px;
}

.layouts__header .links {
  position: relative;
  font-size: 0.9em;
}

.layouts__header .links button {
  font-size: 0.9em;
  cursor: pointer;
  color: black;
  background-color: inherit;
  padding: 0;
  border: none;
}

.layouts__header .links .dropdown {
  display: none;
  position: absolute;
  background-color: white;
  margin-top: 1em;
  border: 1px solid lightgray;
  min-width: 100px;
  right: 0;
  z-index: 1;
}

.layouts__header .links:hover .dropdown {
  display: block;
}

.layouts__header .links .dropdown::before,
.layouts__header .links .dropdown::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  width: 0;
  height: 0;
  margin: auto;
}

.layouts__header .links .dropdown::before {
  top: -17px;
  left: 50px;
  border-style: solid;
  border-color: transparent transparent lightgray transparent;
  border-width: 0px 11px 17px 11px;
}

.layouts__header .links .dropdown::after {
  top: -25px;
  left: 50px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  border-width: 10px 10px 15px 10px;
  z-index: 1;
}

.layouts__header .links .dropdown a {
  display: block;
  color: black;
  text-decoration: none;
  text-align: left;
  padding: 0.5em;
}

.layouts__header .links .dropdown a:hover {
  color: dodgerblue;
}

.layouts__main {
  min-height: 80vh;
  padding: 1rem;
}

.layouts__footer {
  background-color: #eee;
  padding: 0 0.5rem;
  border-top: 1px solid lightgray;
}

.layouts__footer .technologys {
  font-size: 0.9em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1em 2em;
  margin-top: 2em;
}

.layouts__footer .technologys a {
  color: dodgerblue;
  text-decoration: none;
}

.layouts__footer .technologys a:hover {
  text-decoration: underline;
}

.layouts__footer .copyright {
  font-size: 0.8em;
  text-align: center;
  margin-top: 1rem;
}
