@import "variables";

#flash_notice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  padding: 1rem;
  text-align: center;
  border-left: 4px solid $shared-flash-notice-color;
  color: $shared-flash-notice-color;
  background-color: $shared-flash-notice-background-color;
}

#flash_alert {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  padding: 1rem;
  text-align: center;
  border-left: 4px solid $shared-flash-alert-color;
  color: $shared-flash-alert-color;
  background-color: $shared-flash-alert-background-color;
}

#error_explanation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 0.8rem;
  padding: 1rem;
  border: 1px solid $shared-error-explanation-color;
  border-radius: 0.5em;
  color: $shared-error-explanation-color;
  background-color: $shared-error-explanation-background-color;
}

#error_explanation ul {
  margin: 0;
  padding-left: 1em;
  list-style: circle;
  line-height: 2;
}

#flash_notice .fa-xmark,
#error_explanation .fa-xmark {
  cursor: pointer;
}
