@import "variables";

#flash_notice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  padding: 1rem;
  text-align: center;
  border-left: 4px solid $color-text-notice;
  color: $color-text-notice;
  background-color: $color-background-notice;
}

#flash_alert {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  padding: 1rem;
  text-align: center;
  border-left: 4px solid $color-text-alert;
  color: $color-text-alert;
  background-color: $color-background-alert;
}

#error_explanation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 0.8rem;
  padding: 1rem;
  border: 1px solid $color-text-alert;
  border-radius: 0.5em;
  color: $color-text-alert;
  background-color: $color-background-alert;
}

#error_explanation ul {
  margin: 0;
  padding-left: 1em;
  list-style: circle;
  line-height: 2;
}

#flash_notice .fa-xmark,
#error_explanation .fa-xmark {
  cursor: pointer;
}
