@import "variables";

.staticpage__home {
  .top {
    position: relative;
    background-color: $staticpages-home-background-color;

    img {
      width: 100%;
      object-fit: cover;
      opacity: 0.5;
    }

    .text {
      position: absolute;
      top: 25%;
      left: 50%;
      transform: translate(-50%,-50%);
      text-align: center;
      width: 100%;
      font-size: 1em;
      color: white;

      > * {
        margin-top: 2em;
      }

      h1 {
        font-size: 2em;
      }

      a {
        display: inline-block;
        color: white;
        text-decoration: none;
        padding: 0.6em;
        border: 1px solid black;
        background: $staticpages-home-blance-background-color;
        border-radius: 0.5em;
      }

      @media(min-width: 600px) {
        font-size: 1.5em;

        h1 {
          font-size: 2em;
        }
      }
    }
  }
}
