$color-text-primary: #333333;
$color-text-secondary: #777777;
$color-text-notice: #1e90ff;
$color-text-alert: #dc143c;
$color-text-link: #1e90ff;
$color-text-success: #32cd32;
$color-text-light: #ffffff;

$color-background-primary: #ffffff;
$color-background-secondary: #f5f5f5;
$color-background-blue: #f0f8ff;
$color-background-dark: #333333;
$color-background-notice: #e0ffff;
$color-background-alert: #ffc0cb;
$color-background-success: #90ee90;
$color-background-input: #f8fbff;

$color-border-primary: #dddddd;
$color-border-alert: #dc143c;
$color-border-image: #aaaaaa;

$color-button-success: #32cd32;

