$base-color: #000000;
$base-background-color: #ffffff;
$layouts-header-background-color: #eeeeee;
$layouts-footer-background-color: #eeeeee;
$shared-flash-notice-color: #1e90ff;
$shared-flash-notice-background-color: #e0ffff;
$shared-error-explanation-color: #dc143c;
$shared-error-explanation-background-color: #ffc0cb;
$blances-show-headline-background-color: #eeeeee;
$blances-show-edit-background-color: #32cd32;
$blances-show-delete-background-color: #ff4500;
$blances-show-back-background-color: #808080;
$border-color: #ddd;
$link-color: #1e90ff;
$list-even-background-color: #f5f5f5;
$text-gray-color: #777;
