<footer class="layouts__footer">
  <div class="technologys">
    <%= link_to "Ruby on Rails", "https://rubyonrails.org/", target: "_blank", rel: "noopener" %>
    <%= link_to "render", "https://render.com/", target: "_blank", rel: "noopener" %>
    <%= link_to "PostgreSQL", "https://www.postgresql.org/", target: "_blank", rel: "noopener" %>
    <%= link_to "GitHub", "https://github.com", target: "_blank", rel: "noopener" %>
  </div>
  <div class="copyright">
    ittokunvim All Rights Reserved.
  </div>
</footer>
